@import "tailwindcss";

/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #000;
  color: #fff;
  line-height: 1.6;
}