
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #222;
  line-height: 1.6;
}



.home {
  background-color: rgb(226, 207, 222);
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .card{
  background-color: rgb(224, 180, 215);
  height: 50vh;
  width: 30%;
  margin: auto;
  box-shadow: 0 2px 4px #2222;
  border-radius: 2vh;
  justify-content: center;
  align-items: flex-start;
  display: flex;
} */